.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nasa-image{
  display: flex;
  justify-content: center;
  align-items: center ;
   width: 60%;
   padding-left: 20%;
}
.connect-footer{
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.footer-buttons{
  margin: 10px;
  justify-content: center;
  align-items: center;
  width: 15%;
}