.App {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  background-color: beige;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nasa-image{
max-width: 100%;
height: auto;
}
.connect-footer{
display: flex;
flex-direction: column;
margin: 10px;
padding-bottom: 2em;
}
.footer-buttons{
margin: 10px;
height: auto;
width: 100%;
}
.nasa-explanation{
  font-size: x-large;
  max-width: 100%;
  height: auto;
  padding: 15px;
}
.datePicker{
  margin: 20px;
}